@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: url('./assets/img/bg.jpg');
  background-color: #d9000d;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  z-index: 20;
  top: 24px;
  right: 24px;
}

.logo__img {
  width: 300px;
}
.pizza {
  width: 45%;
  height: auto;
  position: absolute;
  bottom: -5%;
  right: auto;
  left: -5%;
  z-index: 10;
}

.pizza img {
  width: 100%;
}

.pizza_big {
  width: 90%;
  height: auto;
  position: absolute;
  top: 10%;
  right: auto;
  left: -5%;
  z-index: 10;
  max-width: 1000px;
}

.pizza_big img {
  width: 100%;
}

.btn_content {
  position: absolute;
  bottom: 44px;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 20;
  padding: 1em;
}

.btn {
  padding: 1em 2em;
  font-size: 32px;
  background-color: #d9000d;
  color: white;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: 0 0 6px 1px rgba(20, 20, 20, 0.25);
  text-decoration: none;
}

.btn:active {
  filter: brightness(80%);
  border: none;
}

.btn__secondary {
  padding: 1em 2em;
  font-size: 32px;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: none;
}

.premio__content,
.text__content {
  margin: auto;
  text-align: center;
}

.premio__content {
  z-index: 100;
}

.ganaste__content {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  bottom: auto;
}
